$base-size: 1rem;
$utilities: map-merge(
	$utilities,
	(
		"font-size":
			map-merge(
				map-get($utilities, "font-size"),
				(
					values:
						map-merge(
							map-get(map-get($utilities, "font-size"), "values"),
							(
								sm: $font-size-sm,
								lg: $font-size-lg,
							)
						),
				)
			),
		"width": (
			property: width,
			class: w,
			responsive: true,
			values: (
				0: 0,
				px: 1px,
				2px: 2px,
				1: $base-size * 0.25,
				2: $base-size * 0.5,
				3: $base-size * 0.75,
				4: $base-size * 1,
				5: $base-size * 1.25,
				6: $base-size * 1.5,
				7: $base-size * 1.75,
				8: $base-size * 2,
				9: $base-size * 2.25,
				10: $base-size * 2.5,
				11: $base-size * 2.75,
				12: $base-size * 3,
				13: $base-size * 3.25,
				14: $base-size * 3.5,
				15: $base-size * 3.75,
				16: $base-size * 4,
				17: $base-size * 4.25,
				18: $base-size * 4.5,
				19: $base-size * 4.75,
				20: $base-size * 5,
				21: $base-size * 5.25,
				22: $base-size * 5.5,
				23: $base-size * 5.75,
				24: $base-size * 6,
				25: $base-size * 6.25,
				26: $base-size * 6.5,
				27: $base-size * 6.75,
				28: $base-size * 7,
				29: $base-size * 7.25,
				30: $base-size * 7.5,
				31: $base-size * 7.75,
				32: $base-size * 8,
				quarter: 25%,
				half: 50%,
				3quarter: 75%,
				full: 100%,
				auto: auto,
			),
		),
		"height": (
			property: height,
			class: h,
			responsive: true,
			values: (
				0: 0,
				px: 1px,
				2px: 2px,
				1: $base-size * 0.25,
				2: $base-size * 0.5,
				3: $base-size * 0.75,
				4: $base-size * 1,
				5: $base-size * 1.25,
				6: $base-size * 1.5,
				7: $base-size * 1.75,
				8: $base-size * 2,
				9: $base-size * 2.25,
				10: $base-size * 2.5,
				11: $base-size * 2.75,
				12: $base-size * 3,
				13: $base-size * 3.25,
				14: $base-size * 3.5,
				15: $base-size * 3.75,
				16: $base-size * 4,
				17: $base-size * 4.25,
				18: $base-size * 4.5,
				19: $base-size * 4.75,
				20: $base-size * 5,
				21: $base-size * 5.25,
				22: $base-size * 5.5,
				23: $base-size * 5.75,
				24: $base-size * 6,
				25: $base-size * 6.25,
				26: $base-size * 6.5,
				27: $base-size * 6.75,
				28: $base-size * 7,
				29: $base-size * 7.25,
				30: $base-size * 7.5,
				31: $base-size * 7.75,
				32: $base-size * 8,
				quarter: 25%,
				half: 50%,
				3quarter: 75%,
				full: 100%,
				auto: auto,
			),
		),
		"justify-content": (
			responsive: true,
			property: justify-content,
			class: justify,
			values: (
				start: flex-start,
				end: flex-end,
				center: center,
				between: space-between,
				around: space-around,
				evenly: space-evenly,
			),
		),
		"align-items": (
			responsive: true,
			property: align-items,
			class: align,
			values: (
				start: flex-start,
				end: flex-end,
				center: center,
				baseline: baseline,
				stretch: stretch,
			),
		),
		"object-fit": (
			responsive: true,
			property: object-fit,
			class: object,
			values: (
				contain: contain,
				cover: cover,
				fill: fill,
				scale: scale-down,
				none: none,
			),
		),
	)
);
